@(products: List[models.products.ProductOnSale],categories: List[models.products.Category],
user: models.users.User,env:play.api.Environment)
@main("products", user) {
    <div class="container">

        <h2 class = "text-center text-muted"><span class = "logo">Sneaker Sanctuary</span> Products In Stock</h2>

        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
            @flash.get("success")
            </div>

        }

        <div class="row">

            <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12 col-centered">
            <h3 class = "text-center text-muted">Categories</h3>

                    <a href="@routes.HomeController.onsale(0)"><button class = "btn btn-lg btn-Dark">All Categories
                       </button></a>
                    @for(c <- categories){

                        <a href = "@routes.HomeController.onsale(c.getId)"><button class = "btn btn-lg btn-Dark">@c.getName
                        <span class = "badge">@c.getProducts.size()</span></button>
                        </a>
                    }
            </div>

            <br>

            <!-- <div class = "col-lg-6 col-md-1 col-sm-6 col-xs-6 col-centered">
                        <div id="actions">
                                <form action="@routes.HomeController.onsale(0)" method="GET">
                                <input type="search" id="searchbox" name="" value="" placeholder="Filter by product name...">
                                <input type="submit" id="searchsubmit" value="Filter by name" class="form-control">
                            </form>
                           </div>

                        </div> -->
            



            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="productbounds">

                @for(p <- products) {
                    <div class="col-sm-6 col-md-4 col-xs-6 col-lg-4 products">
                        <div class="thumbnail">
                        
                            <div class="caption">
                                    <img src="/assets/images/productImages/@(p.getId + ".jpg")" alt="..." height="270" width="300">
                                <h3 class="text-center">@p.getName</h3>
                                <h4 class="text-center"><span class = "redtext"><b>&euro;</b></span> @("%.2f".format(p.getPrice))</h4>
                                <p class="text-center"><b>Size:</b> @p.getSize</p>
                                <p class="text-center"><b>Stock:</b> @p.getStock</p>
                                <p class="text-center"><b>Brand:</b> @p.getBrand</p>
                                @if((user != null) && ("Admin".equals(user.getRole()))) {
                                    <p class = "text-center"><a href="@routes.HomeController.deleteProduct(p.getId)"
                                    onclick="return confirmDel();">
                                        <button class = "btn btn-lg btn-danger"><span class="glyphicon glyphicon-trash"></span> </button>
                                    </a>
                                    </p>
                                    <p class = "text-center"><a href="@routes.HomeController.updateProduct(p.getId)">
                                        <button class = "btn btn-lg btn-danger"><span class="glyphicon glyphicon-pencil"></span> </button>
                                    </a>
                                    </p>
                                    @if(p.getStock() == 0){
                                        <td><img scr="asset/images/oos.jpg"/>
                                         </td>
                                    }
                                    
                                }

                                @if((user != null) && ("customer".equals(user.getRole()))) {
                                    <p class = "text-center"><a href="@routes.ShoppingCtrl.addToBasket(p.getId)">
                                        <button class = "btn btn-lg btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span> </button>
                                    </a>
                              }
                            </div>
                        </div>
                    </div>
                } <!--End of the loop-->
            </div><!--End of product bounds-->
            <!-- /.column-->
        </div>
            <!-- /.row-->
    </div>
                </td>
            }
        
        </tbody>
    </table>
    @if((user != null) && ("admin".equals(user.getRole()))) {
    <p>
        <a href="@routes.HomeController.addProduct()">
            <button class="btn btn-primary">Add an product</button>
        </a>
    </p>
    }

</div>
 